:root {
    --header-size: 4rem;
    --content-margin-top: 8rem;
}

body {
    background-color: rgb(221, 221, 221);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-size);
    background: rgb(177, 177, 177);
    display: flex;
    flex-basis: 0;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5);
}

header h1 {
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 41, 41);
}

#calc {
    --calc-bg-color: rgb(54, 54, 54);
    --num-color: lightblue;
    --num-text: black;
    --oper-color: lightgreen;
    --oper-text: black;
    --controls-color: rgb(212, 118, 118);
    --controls-text: black;
    --display-color: rgb(207, 207, 207);
    --display-text: black;
    --display-prev-text: rgb(88, 88, 88);

    margin: auto;
    /* border: 1px solid black; */
    background-color: var(--calc-bg-color);
    box-shadow: 0.2em 0.2em 0.5em 0.1em rgba(0, 0, 0, 0.5);
    font-family: "Courier New", Courier, monospace;
    width: 20em;
    height: 30em;
    border-radius: 0.65em;
    padding: 0.25em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "display display display display"
        "nums nums nums ops"
        "nums nums nums ops"
        "nums nums nums ops"
        "nums nums nums ops"
        "control control control control";

    column-gap: 0.25em;
    row-gap: 0.25em;
}

#calc button {
    background-color: whitesmoke;
    border: none;
    font-size: 2em;
    font-weight: bold;
    transition: all 0.07s ease;
}

#calc button.pressed {
    transform: scale(1.05);
}

#calc .ops button.highlight {
    border: 0.1em solid rgb(255, 232, 101);
}

#calc button:hover,
#calc button:focus {
    cursor: pointer;
}

#calc .display {
    grid-area: display;
    display: grid;
    grid-template-rows: 0.8fr 1.2fr;
    width: 96.5%;
    height: 87.5%;
    margin: auto;
    margin-bottom: 0;
    background-color: var(--display-color);
    color: var(--display-text);

    border-radius: 0.2em;
}
#calc .display span {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}
#calc .display #display {
    font-weight: bolder;
    align-self: center;
    font-size: 2.9em;
}
#calc .display #display-prev {
    color: var(--display-prev-text);
    font-weight: 600;
    align-self: flex-start;
    font-size: 1.5em;
}

#calc .nums {
    grid-area: nums;
    /* margin-left: .5em;
    margin-top: .5em; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#calc .nums button {
    background: var(--num-color);
    color: var(--num-text);
    width: 30%;
    height: 22.5%;
}

#calc .ops {
    grid-area: ops;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#calc .ops button {
    background: var(--oper-color);
    color: var(--oper-text);
    width: 93.12%;
    height: 22.5%;
}

#calc .control {
    grid-area: control;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
}

#calc .control button {
    background: var(--controls-color);
    color: var(--controls-text);
    height: 90%;
    width: 30%;
}

.container {
    margin-top: var(--content-margin-top);
}
